# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs
/Intermediate
/scummvm/build/Debug
/scummvm/build/Debug32
/Debug
scummvm/devtools/create_project/msvc/create_project.vcxproj.user
scummvm/dists/RCa06392
scummvm/dists/RCb06392
scummvm/dists/RCc06392
scummvm/dists/scummvm.aps
